// overides
$theme-colors: (
    "primary" :rgba(#bd5d38, 100%),
    "secondary":#495057
);

@import "../node_modules/bootstrap/scss/bootstrap";

.icon-link{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    text-decoration: none;
    background-color: map-get($theme-colors, "secondary");
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    color: #fff;

    &:hover{
        background-color: map-get($theme-colors, "primary");
        color: #fff;
    }
}

@include media-breakpoint-up(lg){
    .navbar{
        min-height: 100vh;
        position: fixed;
        top:0;

        .img-circle{
            width: 150px;
            height: 150px;
            display: block;
            margin: 0 auto;
            border: 5px solid #ffffff33;
            border-radius: 50%;
            padding: 5px;
        }
    }
}